@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d5dd;
  margin: 0;
  padding-bottom: 10px;
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素的文本颜色 */
  cursor: pointer; /* 修改鼠标指针样式，可选 */
}
