blockquote {
  margin-left: 0;
  border-left: 4px solid #bac2cb;
  padding-left: 12px;
  color: #4e5969;
}
ul {
  margin: 0;
  padding-left: 30px;
}
a {
  text-decoration: none; /* 移除下划线 */
  color: #1d9bf0; /* 使用继承的颜色 */
  cursor: pointer; /* 修改鼠标样式为指针 */
  outline: none; /* 移除默认的焦点边框 */
}
p {
  margin-top: 18px;
  margin-bottom: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 6px;
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 1.5em; /* 1.5倍于基础字体大小 */
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.35em; /* 1.25倍于基础字体大小 */
    line-height: 1.5em;
  }

  h3 {
    font-size: 1.2em; /* 基础字体大小 */
    line-height: 1.5em;
  }
  h4 {
    font-size: 1.05em; /* 基础字体大小 */
    line-height: 1.5em;
  }
  h5 {
    font-size: 1em; /* 基础字体大小 */
    line-height: 1.5em;
  }
  h6 {
    font-size: 1em; /* 基础字体大小 */
    line-height: 1.5em;
  }
}
a:hover {
  color: #0c7ad8;
}
code {
  background-color: #f5f5f5; /* 浅灰色背景 */
  color: #6dd4fd; /* 深粉色字体 */
  padding: 2px 4px; /* 内边距 */

  font-size: 0.95em; /* 字体大小 */
}
