@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9cdd4;
}
